{% extends "base.html" %}


{% block content %}

<h2 class="text-center">Password Change Here,</h2>
{%load crispy_forms_tags%}
{% if messages %}
 {% for m in messages  %}
  <small {% if m.tags %}class="{{m.tags}}"{% endif %} >{{m}}</small>
 
 {% endfor %}

{% endif %}

<form  style="width:50%;  margin:auto"  method='post' novalidate>
  {% csrf_token %}
  {% if form.non_field_errors %}
   {% for error in form.non_field_errors %}
   
   <p class="bg-danger text-white p-3">{{error}}</p>
   
   {% endfor %}
   
   {% endif %}  


  {{form | crispy}}
     
    <button class="btn btn-primary" type="submit">change password</button>

</form>

{% endblock content %}